{% extends "SiteFrontEndBundle::layout.html.twig" %}

{% block title %}
	News
{% endblock %}

{% block content %}
	{% for new in news %}
		<tr><td><a href={{path ('article_page',{'id':new.id})}}>{{new.id}}</a></td><td>{{new.date}}</td><td>{{new.title}}</td></tr><br/>
	{% endfor %}
{% endblock %}
